html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #036;
  overflow: hidden;
}
body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

/* nyan cat! */
#nyan-cat {
  position: absolute;
  top: 50%;
  left: 48%;
  margin-top: -95px;
  margin-left: -115px;
  z-index: 2;
}

.sparks-combo {
  z-index: 0;
  height: 300px;
  width: 200%;
  position: relative;
  animation: woosh 700ms 0ms linear infinite both;
}
.spark {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background: linear-gradient(to right, white 0px, white 6px, transparent 6px, transparent 400px) repeat-x, linear-gradient(to right, white 0px, white 6px, transparent 6px, transparent 400px) repeat-x, linear-gradient(to right, white 0px, white 6px, transparent 6px, transparent 400px) repeat-x, linear-gradient(to right, white 0px, white 6px, transparent 6px, transparent 400px) repeat-x;
}
.spark:before {
  background: linear-gradient(to right, white 0px, white 5px, transparent 5px, transparent 400px) repeat-x, linear-gradient(to right, white 0px, white 5px, transparent 5px, transparent 400px) repeat-x, linear-gradient(to right, white 0px, white 5px, transparent 5px, transparent 400px) repeat-x, linear-gradient(to right, white 0px, white 5px, transparent 5px, transparent 400px) repeat-x;
}
.spark:after {
  background: linear-gradient(to right, white 0px, white 6px, transparent 6px, transparent 400px) repeat-x, linear-gradient(to right, white 0px, white 6px, transparent 6px, transparent 400px) repeat-x, linear-gradient(to right, white 0px, white 11px, transparent 11px, transparent 400px) repeat-x, linear-gradient(to right, white 0px, white 11px, transparent 11px, transparent 400px) repeat-x;
}
.spark:before,
.spark:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.spark:nth-child(1) {
  z-index: 3;
  top: 0;
  left: 20px;
  animation: sparkly 700ms 0ms steps(1) infinite both;
}
.spark:nth-child(1):before {
  animation: sparkly-before 700ms 0ms steps(1) infinite both;
}
.spark:nth-child(1):after {
  animation: sparkly-after 700ms 0ms steps(1) infinite both;
}
.spark:nth-child(2) {
  top: 40px;
  left: 170px;
  animation: sparkly 700ms 200ms steps(1) infinite both;
}
.spark:nth-child(2):before {
  animation: sparkly-before 700ms 200ms steps(1) infinite both;
}
.spark:nth-child(2):after {
  animation: sparkly-after 700ms 200ms steps(1) infinite both;
}
.spark:nth-child(3) {
  top: 100px;
  left: 320px;
  animation: sparkly 700ms 400ms steps(1) infinite both;
}
.spark:nth-child(3):before {
  animation: sparkly-before 700ms 400ms steps(1) infinite both;
}
.spark:nth-child(3):after {
  animation: sparkly-after 700ms 400ms steps(1) infinite both;
}
.spark:nth-child(4) {
  top: 150px;
  left: 200px;
  animation: sparkly 700ms 600ms steps(1) infinite both;
}
.spark:nth-child(4):before {
  animation: sparkly-before 700ms 600ms steps(1) infinite both;
}
.spark:nth-child(4):after {
  animation: sparkly-after 700ms 600ms steps(1) infinite both;
}
@keyframes woosh {
  0% {
    left: 0px;
  }
  100% {
    left: -400px;
  }
}
@keyframes sparkly {
  0% {
    background-size: 400px 6px, 0 0, 0 0, 0 0;
    background-position: 17px 17px, 0 0, 0 0, 0 0;
  }
  16% {
    background-size: 400px 6px, 400px 6px, 400px 6px, 400px 6px;
    background-position: 17px 0, 34px 17px, 17px 34px, 0 17px;
  }
  33% {
    background-size: 400px 6px, 400px 6px, 400px 6px, 400px 6px;
    background-position: 17px 0, 34px 17px, 17px 34px, 0 17px;
  }
  50% {
    background-size: 400px 6px, 0 0, 0 0, 0 0;
    background-position: 17px 17px, 0 0, 0 0, 0 0;
  }
  66% {
    background-size: 400px 11px, 400px 11px, 0 0, 0 0;
    background-position: 17px 6px, 17px 23px, 0 0, 0 0;
  }
  83% {
    background-size: 0 0, 0 0, 400px 5px, 400px 5px;
    background-position: 0 0, 0 0, 11px 17px, 22px 17px;
  }
  100% {
    background-size: 400px 6px, 0 0, 0 0, 0 0;
    background-position: 17px 17px, 0 0, 0 0, 0 0;
  }
}
@keyframes sparkly-before {
  0% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  16% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  33% {
    background-size: 400px 5px, 400px 5px, 400px 5px, 400px 5px;
    background-position: 6px 6px, 29px 6px, 29px 29px, 6px 29px;
  }
  50% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  66% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  83% {
    background-size: 0 0, 0 0, 400px 5px, 400px 5px;
    background-position: 0 0, 0 0, 17px 12px, 17px 22px;
  }
  100% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
}
@keyframes sparkly-after {
  0% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  16% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  33% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  50% {
    background-size: 400px 11px, 400px 11px, 400px 6px, 400px 6px;
    background-position: 17px 0, 17px 29px, 0 17px, 29px 17px;
  }
  66% {
    background-size: 0 0, 0 0, 400px 6px, 400px 6px;
    background-position: 0 0, 0 0, 6px 17px, 23px 17px;
  }
  83% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  100% {
    background-size: 0 0, 0 0, 0 0, 0 0;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
}
.rainbow {
  background: none;
  height: 102px;
  width: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 45px;
  z-index: 2;
}
.hot:after,
.hot:before,
.cold:after,
.cold:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 50%;
}
.hot:after,
.hot:before {
  top: 0;
}
.cold:after,
.cold:before {
  bottom: 0;
}
#wave-a {
  margin-top: -54px;
  animation: wavy 700ms 0ms steps(2) infinite both;
}
#wave-b {
  margin-top: -60px;
  animation: wavy 700ms 350ms steps(2) infinite both;
}
/* red */
.hot {
  background-image: linear-gradient(to right, #ff0000 49px, transparent 49px, transparent 92px);
}
/* orange */
.hot:after {
  background-image: linear-gradient(to right, #ff9900 49px, transparent 49px, transparent 92px);
}
/* yellow */
.hot:before {
  background-image: linear-gradient(to right, #ffff00 49px, transparent 49px, transparent 92px);
}
/* green */
.cold:after {
  background-image: linear-gradient(to right, #33ff00 49px, transparent 49px, transparent 92px);
  background-position: left top;
}
/* blue */
.cold:before {
  background-image: linear-gradient(to right, #0099ff 49px, transparent 49px, transparent 92px);
}
/* purple */
.cold {
  background-image: linear-gradient(to right, #6633ff 49px, transparent 49px, transparent 92px);
}
.rainbow,
.hot:after,
.hot:before,
.cold:after,
.cold:before {
  background-size: 95px 17px;
  background-repeat: repeat-x;
}
#wave-a.hot,
#wave-a.cold:after {
  background-position: left top;
}
#wave-a.hot:after,
#wave-a.cold:before {
  background-position: left center;
}
#wave-a.hot:before,
#wave-a.cold {
  background-position: left bottom;
}
#wave-b.hot,
#wave-b.cold:after {
  background-position: 46px top;
}
#wave-b.hot:after,
#wave-b.cold:before {
  background-position: 46px center;
}
#wave-b.hot:before,
#wave-b.cold {
  background-position: 46px bottom;
}
@keyframes wavy {
  0% {
    margin-top: -54px;
  }
  100% {
    margin-top: -60px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 0 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
  width: 100%;
}

.svg-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.svg-icon.behance {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-label='Behance' role='img' viewBox='0 0 146 146'%3E%3Crect height='146' width='146' rx='15%25' fill='%230077ff'/%3E%3Cpath fill='%23fff' d='M49 66l-17 0 0 -13 17 0c4,0 7,3 7,7 0,3 -3,6 -7,6l0 0zm24 21c0,-8 -5,-14 -11,-16 4,-3 8,-9 8,-15 0,-9 -8,-17 -17,-17l-34 0 0 68 34 0c11,0 20,-9 20,-20l0 0zm17 -4l38 0c0,0 0,-1 0,-1 0,-14 -11,-26 -26,-26 -15,0 -25,12 -25,26 0,14 10,25 25,25 15,0 23,-9 25,-20l-14 0c-1,6 -5,10 -11,10 -6,0 -11,-6 -12,-14l0 0zm23 -6l-22 0c1,-7 5,-11 11,-11 6,0 10,5 11,11l0 0zm-26 -34l30 0 0 10 -30 0 0 -10zm-55 34l17 0c4,0 11,1 11,8 0,4 -3,9 -7,9l-21 0 0 -17z'/%3E%3C/svg%3E%0A");
}

.svg-icon.email {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-label='Email' role='img' viewBox='0 0 512 512'%3E%3Crect width='512' height='512' rx='15%25' fill='teal'/%3E%3Crect width='356' height='256' x='78' y='128' fill='%23fff' rx='8%25'/%3E%3Cpath fill='none' stroke='teal' stroke-width='20' d='M434 128L269 292c-7 8-19 8-26 0L78 128m0 256l129-128m227 128L305 256'/%3E%3C/svg%3E%0A");
}

.svg-icon.facebook {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-label='Facebook' role='img' viewBox='0 0 512 512'%3E%3Crect width='512' height='512' rx='15%25' fill='%233b5998'/%3E%3Cpath fill='%23fff' d='M330 512V322h64l9-74h-73v-47c0-22 6-36 37-36h39V99c-7-1-30-3-57-3-57 0-95 34-95 98v54h-64v74h64v190z'/%3E%3C/svg%3E");
}

.svg-icon.instagram {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-label='Instagram' role='img' viewBox='0 0 512 512'%3E%3Crect width='512' height='512' rx='15%25' fill='%23d43377'/%3E%3Cg fill='none' stroke='%23fff' stroke-width='29'%3E%3Crect height='296' rx='78' width='296' x='108' y='108'/%3E%3Ccircle cx='256' cy='256' r='69'/%3E%3C/g%3E%3Ccircle cx='343' cy='169' fill='%23fff' r='19'/%3E%3C/svg%3E");
}

.svg-icon.tumblr {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-label='Tumblr' role='img' viewBox='0 0 512 512'%3E%3Crect width='512' height='512' rx='15%25' fill='%2335465c'/%3E%3Cpath fill='%23fff' d='M361 415c-12 13-40 21-65 21h-3c-85 0-103-61-103-98V236h-35c-3 0-6-3-6-8v-47c0-6 3-10 7-11 44-17 57-54 60-83 0-8 5-11 12-11h50c4 0 6 3 6 6v82h58c5 0 8 3 8 8v56c0 4-3 7-8 7h-58v94c0 24 16 30 25 30 10 0 18-2 23-4 8-4 13 1 14 4l15 45c2 4 3 8 0 11z'/%3E%3C/svg%3E");
}

.svg-icon.twitter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-label='Twitter' role='img' viewBox='0 0 512 512'%3E%3Crect width='512' height='512' rx='15%25' fill='%231da1f3'/%3E%3Cpath fill='%23fff' d='M437 152a72 72 0 0 1-40 12 72 72 0 0 0 32-40 72 72 0 0 1-45 17 72 72 0 0 0-122 65 200 200 0 0 1-145-74 72 72 0 0 0 22 94 72 72 0 0 1-32-7 72 72 0 0 0 56 69 72 72 0 0 1-32 1 72 72 0 0 0 67 50 200 200 0 0 1-105 29 200 200 0 0 0 309-179 200 200 0 0 0 35-37'/%3E%3C/svg%3E");
}

.svg-icon.vk {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-label='VK' role='img' viewBox='0 0 512 512'%3E%3Crect width='512' height='512' rx='15%25' fill='%235281b8'/%3E%3Cpath fill='%23fff' d='M274 363c5-1 14-3 14-15 0 0-1-30 13-34s32 29 51 42c14 9 25 8 25 8l51-1s26-2 14-23c-1-2-9-15-39-42-31-30-26-25 11-76 23-31 33-50 30-57-4-7-20-6-20-6h-57c-6 0-9 1-12 6 0 0-9 25-21 45-25 43-35 45-40 42-9-5-7-24-7-37 0-45 7-61-13-65-13-2-59-4-73 3-7 4-11 11-8 12 3 0 12 1 17 7 8 13 9 75-2 81-15 11-53-62-62-86-2-6-5-7-12-9H79c-6 0-15 1-11 13 27 56 83 193 184 192z'/%3E%3C/svg%3E");
}

.svg-icon.dribbble {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-label='Dribbble' role='img' viewBox='0 0 104 104' width='32' height='32'%3E%3Crect width='104' height='104' rx='15%25' fill='%23e84c88'/%3E%3Cpath fill='%23fff' d='M 51.992001,88.608 C 31.891999,88.608 15.392,72.208003 15.392,52.008006 15.392,31.808004 31.891999,15.408005 51.992001,15.408005 72.092,15.408005 88.592,31.908004 88.592,52.008006 88.592,72.108005 72.191998,88.608 51.992001,88.608 Z m 30.9,-31.599996 c -1.1,-0.299998 -9.799999,-2.899998 -19.5,-1.299998 3.999998,11.299997 5.699999,20.299999 5.999997,22.299998 7.100001,-4.899997 12.000003,-12.300001 13.500003,-21 z M 64.191998,80.808005 C 63.691999,78.008004 61.892001,68.408006 57.492002,57.008004 h -0.2 c -17.500003,6.200002 -23.900002,18.4 -24.500003,19.5 5.4,4.1 12,6.7 19.200002,6.7 4.4,0 8.499997,-0.799997 12.199997,-2.399999 z m -35.399999,-7.8 c 0.6,-1.1 9.300001,-15.4 25.400002,-20.599999 0.5,-0.2 0.8,-0.3 1.3,-0.3 -0.8,-1.8 -1.6,-3.6 -2.6,-5.400001 -15.600001,4.700001 -30.700001,4.500001 -32.2,4.400001 v 1 c 0.1,8.000001 2.999998,15.299998 8.099998,20.899999 z m -7.4,-27.3 c 1.5,0 14.3,0 28.900002,-3.7 -5.2,-9.300001 -10.700002,-16.900001 -11.500002,-18 -8.9,3.999999 -15.399998,11.899999 -17.4,21.7 z M 44.692001,21.808006 c 0.8,1.099998 6.5,8.899998 11.7,18.2 C 67.391999,35.808004 72.191998,29.608004 72.791999,28.808004 67.292001,23.908006 59.992,21.008005 52.192001,21.008005 c -2.8,-0.200001 -5.200001,0.1 -7.5,0.800001 z m 31.5,10.499998 c -0.699999,0.8 -5.800001,7.600001 -17.399999,12.400002 0.699999,1.499999 1.499996,2.9 2.099997,4.5 0.2,0.5 0.500003,1.1 0.699999,1.599998 10.4,-1.3 20.800004,0.800002 21.800002,1.000002 -0.200001,-7.400001 -2.800001,-14.100002 -7.199999,-19.500002 z'/%3E%3C/svg%3E");
}
